body {
    margin: 0;
    background: #eeeeee;
    width: 100%;
}
h1 {text-align: center;}
.wrap {position: relative;}

.innerWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control:focus{
    outline: none;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}
.form-control:focus::placeholder{visibility: hidden;}
.button-control {
    width: 80px;
    height: 30px;
    background: lightgray;
    outline: none;
    border: 1px solid black;
    color: #111111;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
    cursor: pointer;
}
.wrapButton {
    margin-top: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}