body {
    margin: 0;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {font-weight: bold; font-size: 40px;}
a {text-decoration: none; color: dodgerblue;}
p {color: #222222;}
p span {font-weight: bold;}
.content {
    font-size: 30px;
    margin-bottom: 15px;
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 50px;
    background: #999999;
    color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
    transition: 0.5s;
    border: none;
    outline: none;
}
.content:hover {
    transform: scale(1.1);
}

.loginIn .loginBox {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item {
    margin-bottom: 20px;
    width: 300px;
}

.item input {
    border: 1px solid lightgray;
    height: 50px;
    width: inherit;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
}.item input:focus {
     border: 1px solid dodgerblue;
     box-shadow: 0 0 5px dodgerblue;
 }

/*hide placeholder*/
.item input:focus::placeholder {
    visibility: hidden;
}

.menu_bar {margin-right: 30px;}
.menu_bar a {color: #333333;}
.menu_bar h3 {transition: 0.5s;}
.menu_bar a:hover h3 {transform: scale(1.2);}

@media (max-width: 768px) {
    .loginIn .loginBox {width: 400px; height: 350px;}
    .loginIn .loginBox p {font-size: 14px;}
    .item { width: 200px;}
    .item input {font-size: 12px;}
    .content {
        font-size: 14px;
        top: -22%;
        width: 100px;
        right: 0;
        background: none;
        border: 2px solid #ffffff;
        box-shadow: none;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
    }
    .menu_bar {position: absolute; top: 10%; left: 50%; transform: translateX(-50%);}
    .menu_bar a{
        display: inline-block;
        margin-right: 8px;
        font-size: 15px;
    }
    .menu_bar a:last-child {margin-right: 0;}
    .menu_bar a:hover h3 {transform: scale(1.1); color: dodgerblue;}
}

@media (max-width: 480px) {
    .menu_bar {top: 10%;}
    .menu_bar a {font-size: 12px; display: inline-block; margin-right: 10px;}
    .menu_bar a:last-child {margin-right: 0;}
    .menu_bar a:hover h3 {transform: none;}
    .loginIn h1 {font-size: 25px;}
    .content {
        font-size: 12px;
        top: -15%;
        width: 80px;
        height: 40px;
        right: 0;
        background: none;
        border: 2px solid #ffffff;
        box-shadow: none;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
    }
}