@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap&subset=korean');
body {margin: 0; background: #F6E3CE; font-family: 'PT Sans Narrow', sans-serif;}
a {text-decoration: none; color: #333333;}
.menu_bar{width:100%;background: #333333;padding: 5px; text-align: center; margin: 0 0 30px 0;}
.menu_bar a{display: inline-block; margin-right: 30px; position: relative;}
.menu_bar a:last-child {margin-right: 0;}
.menu_bar a:before {
    content: '|';
    color: #ffffff;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.menu_bar a:last-child:before {
    content: '';
}
.menu_bar a h3 {color: #eeeeee;}

.wrap {width: 100%;}

.wrap header {text-align: center;}
.wrap header a {font-size: 20px; margin-right: 20px; font-family: 'Indie Flower', cursive; transition: 0.5s;}
.wrap header a:hover {font-size: 25px; color: dodgerblue;}

.wrap header input {border: 0; outline: none; background: none; font-size: 20px; font-family: 'Indie Flower', cursive; transition: 0.5s; cursor: pointer; color: #333333;}
.wrap header input:hover {font-size: 25px; color: dodgerblue;}

.wrap .head_content {margin: 0 30px; position: relative;}
.wrap .head_content h1 {font-size: 40px;}
.wrap .head_content input {position: absolute; left: 160px; top: 20px; background: none; cursor: pointer; transition: 0.4s; border-radius: 3px;}
.wrap .head_content input:hover {background: lightgray; font-weight: bold;}


@media (max-width: 768px) {
    .wrap header a{display: block; margin-right: 0; font-size: 30px;}
    .wrap header a:hover {font-size: 35px;}
    .head_content h1 {color: #333333;}
}
@media (max-width: 480px) {
    .menu_bar a {display: block; margin-right: 0}
    .menu_bar a:before {display: none;}
    .menu_bar a h3 {transition: 0.3s;}
    .menu_bar a h3:hover {color: lightgray; font-size: 22px;}
}